
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&family=Pixelify+Sans:wght@400;500&family=Roboto+Slab:wght@100&family=Ubuntu:wght@300&family=Young+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Dosis', sans-serif;
}
.menu1{
    max-width: 100%;
    max-height: 90%;
    padding: 30px;
    background-color: #3f3f3f;

}
.nav_menu{
width: 60px;
height: 60px;

}
.container_general::before{
    background-image: url(../multimedia/Rectangle\ 1.png);
    padding-top: 10px;
    max-height: 100px;
    background-color: aqua;
}


